@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #faf3e1;
  --text-secondary: #f5e7c6;
  --brand: #fa8112;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --color-brand: var(--brand);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes cat-wave {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.cat-waver {
  transform-origin: bottom left;
}

.group:hover .cat-waver {
  animation: cat-wave 1s ease-in-out infinite;
}
